# Ignore the memory file
latest_speech_date.txt
latest_fomc_date.txt
csale.txt
last_id.txt
last_id_*.txt

# Ignore Python cache folders
__pycache__/
.cache/

# Ignore environment files (where we will hide your keys)
.env

# Ignore trading history
trading_history.json
trading_context.json

# My private scripts
exercise.py
test.py

# Folders
Playwright/
BeautifulSoup/